@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Shrikhand&display=swap");
header {
  width: 100%;
}
header h1 {
  display: flex;
  justify-content: center;
  font-family: shrikhand;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 31px;
}

@media screen and (max-width: 768px) {
  .area {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    font-family: roboto;
    font-size: 16px;
    margin-top: 8px;
  }
  .area__locate {
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 15px;
  }
  .area__locate__heading {
    margin-left: 20px;
  }
  .area__heading {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .area__heading h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .area__heading h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
  }
  .area__btn {
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 25px;
    width: 215px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FF79DA;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    font-family: roboto;
  }
  .menu__heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .menu__list :hover {
    background-color: #9356DC;
  }
  .menu__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    margin-bottom: 25px;
    border: 1px solid #f6f6f6;
    box-shadow: 1px 1px 9px grey;
    border-radius: 25px;
    background-color: #f6f6f6;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu__content__dot {
    font-size: 60%;
    border: 1px solid #9356DC;
    border-radius: 50%;
    color: white;
    background-color: #9356DC;
    padding: 2px 5px 2px 5px;
  }
  .menu__content__icon {
    margin-left: 23px;
    color: grey;
  }
  .menu__content__text {
    margin-left: 28px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding-bottom: 15px;
  }
  footer .footer__heading {
    font-family: Shrikhand;
  }
  footer .footer__heading h2 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  footer ul {
    list-style-type: none;
    padding-left: 0;
    font-family: roboto;
    margin-left: 20px;
    font-weight: 400;
  }
  footer ul a {
    text-decoration: none;
    color: white;
  }
  footer ul a li {
    margin-bottom: 5px;
    font-size: 15px;
  }
  footer ul a li i {
    margin-right: 15px;
  }

  .handshake {
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: roboto;
  }
  .restaurant__heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .restaurant a {
    text-decoration: none;
    color: black;
  }
  .restaurant__card {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px grey;
  }
  .restaurant__card__top {
    width: 100%;
  }
  .restaurant__card__top__img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .restaurant__card__top__new {
    display: none;
  }
  .restaurant__card__bottom {
    display: flex;
    justify-content: space-between;
  }
  .restaurant__card__bottom__heading {
    margin-left: 15px;
  }
  .restaurant__card__bottom__heading h2 {
    margin-bottom: 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  .restaurant__card__bottom__heading h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  .restaurant__card__bottom__icon {
    padding-top: 15px;
    font-size: 22px;
    margin-right: 20px;
  }
  .restaurant__card__bottom__icon :hover {
    color: #9356DC;
  }
}

/*# sourceMappingURL=style.css.map */
