header{
    width: 100%;
    & h1{
        display: flex;
        justify-content: center;
        font-family: shrikhand;
        font-weight: 500;
        margin-bottom: 0;
        padding-top: 10px;
        font-size: 31px;
    }
}