@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        font-family: roboto;

        &__heading {
            font-size: 24px;
            font-weight: 600;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        &__list {
            :hover {
                background-color: $color-secondary;
            }
        }

        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 17px;
            margin-bottom: 25px;
            border: 1px solid $color-section;
            box-shadow: 1px 1px 9px grey;
            border-radius: 25px;
            background-color: $color-section;
            padding-top: 21px;
            padding-bottom: 21px;

            &__dot {
                font-size: 60%;
                border: 1px solid $color-secondary;
                border-radius: 50%;
                color: $color-base;
                background-color: $color-secondary;
                padding: 2px 5px 2px 5px;
            }

            &__icon {
                margin-left: 23px;
                color: grey;
            }

            &__text {
                margin-left: 28px;
                font-weight: 500;
            }
        }
    }
}